mat-card {
  width: 75%;
  margin: auto;
  text-align: center;
}

.title{
  margin: auto;
  background-color: grey;
  color: black;
  font-size: 50px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 75%
}